services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: "0831"
      MYSQL_DATABASE: "cotefacil"
    ports:
      - "3306:3306"
    volumes:
      - ./init-mysql.sql:/docker-entrypoint-initdb.d/init.sql
    command: --default-authentication-plugin=mysql_native_password --bind-address=0.0.0.0
    networks:
      - mysql-compose-network

networks:
  mysql-compose-network:
    driver: bridge